div.header__row
    a.menu--mobile
        include ../assets/images/menu.svg
    a.logo(href="#")
        img(src="./assets/images/logo.png" alt="logo")
    div.header__contacts
        div.header__info
            span.header__info--bold Выставочный зал:
            span.header__info--normal Гражданский пр, 119, офис 19
        div.header__info
            span.header__info--bold График работы зала:
            span.header__info--normal Пн-Сб 12.00-20.00
        div.header__info
            span.header__info--bold Онлайн - магазин
            span.header__info--normal Прием онлайн-заказов 24/7
        div.header__info
            span.header__info--bold +7(812)4459596
            span.header__info--normal с 10.00 до 22.00 ежедневно
    div.header__actions
        button.button--custom#wishList
            include ../assets/images/favorite.svg
        button.button--custom.button--active#cart
            include ../assets/images/basket.svg
            span корзина
div.header__row
    include ./navigation

