nav.navigation
    ul.menu__list#headMenu
        li.menu__item
            a.menu__link межкомнатные двери
            ul.menu--sub
                li.menu__item
                    a.menu__link ламинированные двери
                li.menu__item
                    a.menu__link двери пвх
                li.menu__item
                    a.menu__link двери экошпон
                li.menu__item
                    a.menu__link шпонированные двери
                li.menu__item
                    a.menu__link двери из массива
                li.menu__item
                    a.menu__link двери эмаль
        li.menu__item
            a.menu__link входные двери
        li.menu__item
            a.menu__link ручки для дверей
        li.menu__item
            a.menu__link механизмы
        li.menu__item
            a.menu__link петли
        li.menu__item
            a.menu__link услуги
        li.menu__item
            a.menu__link контакты
    ul.nav__list
        li.nav__item
            a.nav__link О компании
        li.nav__item
            a.nav__link Примеры работ
        li.nav__item
            a.nav__link Скидки и акции
        li.nav__item
            a.nav__link Оплата
        li.nav__item
            a.nav__link Отзывы
        li.nav__item
            a.nav__link Гарантия и возврат
        li.nav__item
            a.nav__link Производители
        li.nav__item
            a.nav__link Замер
        li.nav__item
            a.nav__link Доставка
        li.nav__item
            a.nav__link Установка
    div.header__contacts
        div.header__info
            span.header__info--bold Выставочный зал:
            span.header__info--normal Гражданский пр, 119, офис 19
        div.header__info
            span.header__info--bold График работы зала:
            span.header__info--normal Пн-Сб 12.00-20.00