div.slider
    p.slider__head
        span Двойная скидка
        br
        span на межкомнатные
        br
        span двери
    ul.slider__images
        li.slider__image.slide0#slide0
        li.slider__image.slide1#slide1
        li.slider__image.slide2#slide2
        li.slider__image.slide3#slide3
    ul.slider__switches.slider__switches--toggle
        li.slider__switch#slideSwitch0(data-slide="0")
        li.slider__switch#slideSwitch1(data-slide="1")
        li.slider__switch#slideSwitch2(data-slide="2")
        li.slider__switch#slideSwitch3(data-slide="3")