@import "variables";

.button {
  &--custom {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid $borderColor;
    outline: none;
    height: 50px;
    position: relative;
    color: $accentColor;
    text-transform: uppercase;
    transition: border 0.3s linear;
    & svg {
      fill: $accentColor;
      margin: 10px;
      width: 20px;
      height: 18px;
      transition: fill 0.3s linear;
    }
    &::after {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 23px;
      height: 23px;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      border: 1px solid $bgColor;
      background-color: $activeColor;
      font-family: Roboto, sans-serif;
      font-weight: bold;
    }
    &:hover {
      cursor: pointer;
      border: 2px solid $activeColor;
      & svg {
        fill: $activeColor;
      }
    }
  }
  &--active {
    border: 2px solid $activeColor;
    svg {
      fill: $activeColor;
    }
  }
}

@media screen and (max-width: 1599px) {
  .button {
    &--custom {
      border: none;
      & svg {
        margin: 0;
      }
      &::after {
        content: "";
        width: 6px;
        height: 6px;
        top: 14px;
        right: 0;
      }
    }
  }
}