@font-face {
  font-family: Lato;
  src: url("./assets/fonts/lato/latobold.woff");
  font-weight: bold;
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/lato/latoregular.woff");
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/lato/latomedium.woff");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/roboto/Robotobold.woff");
  font-weight: bold;
}

