$headerHeight: 190px;
$bgColor: #151515;
$accentColor: #ffffff;
$borderColor: #2b2b2b;
$activeColor: #e10e19;
$textLight: #8a8a8a;
$menuToggleColor: #979797;
$activeMenuItem: #343434;
$menuBorderColor: #222222;
$mobileBgDark: #0d0d0d;
$mobileTextBold: #8e8e8e;
$mobileTextNormal: #555555;
$bodyBg: #7f7f7f;

