@import "variables";

.header {
  display: flex;
  flex-direction: column;
  &__row {
    display: flex;
    width: 1590px;
    align-items: center;
    &:nth-child(1) {
      height: 130px;
      padding: 0 16px 0 34px;
      position: relative;
    }
    &:nth-child(2) {
      width: 100%;
      height: 60px;
      background-color: $borderColor;
    }
  }
  &__contacts {
    display: flex;
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    line-height: 1.5;
    position: relative;
    padding-left: 30px;
    padding-right: 60px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: $borderColor;
    }
    &--bold {
      font-size: 16px;
      font-weight: bold;
    }
    &--normal {
      font-size: 14px;
      font-weight: 500;
    }
    &:nth-of-type(2) {
      padding-left: 29px;
    }
  }
  &__actions {
    display: flex;
  }
}

.logo {
  margin-right: 40px;
}

.header {
  &__actions {
    position: absolute;
    right: 15px;
  }
}

#wishList {
  margin-right: 21px;
  svg {
    margin: 12px;
  }
  &::after {
    content: '12';
  }
}

#cart {
  padding: 0 18px 0 10px;
  svg {
    flex-grow: 0;
    margin: 10px 18px 10px 10px;
  }
  &::after {
    content: '5';
  }
}

.menu--mobile {
  display: none;
  position: absolute;
  left: 6.94%;
  //top: 24px;
  top: 62px;
  width: 18px;
  height: 14px;
  & svg {
    fill: #ffffff;
    transition: fill 0.3s;
  }
  &:hover {
    cursor: pointer;
    & svg {
      fill: $activeColor;
    }
  }
  &::before {
    content: "";
    width: 100%;
    height: inherit;
    z-index: 222;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 1599px) {
  .header {
    &__row {
      width: 100%;
      &:nth-of-type(1) {
        flex-direction: column;
        height: 100px;
        background-color: $mobileBgDark;
      }
      &:nth-child(1) {
        padding: 0;
      }
    }
    &__contacts {
      align-items: center;
      order: 0;
      min-height: 40px;
      width: 100%;
      padding: 0 0 0 6.94%;
      -webkit-box-ordinal-group: 1;
      -webkit-box-align: center;
    }
    & .logo {
      width: 100%;
      background-color: $bgColor;
      order: 1;
      align-self: flex-start;
      padding: 14px 18% 14px;
      & img {
        width: 52px;
        height: 30px;
      }
    }
    &__actions {
      order: 2;
      top: 43px;
      right: 8%;
      -webkit-box-ordinal-group: 3;
    }
    &__info {
      margin-bottom: 0;
      padding: 0;
      &:not(:last-child) {
        &--bold {
          display: none;
        }
      }
      &--normal {
        font-size: 12px;
        font-weight: 500;
        color: $mobileTextNormal;
        text-transform: uppercase;
      }
      &--bold {
        font-size: 13px;
        font-weight: 500;
        color: $mobileTextBold;
        letter-spacing: 0.7px;
        &:after {
          content: "-";
          margin: 0 2px;
        }
      }
      &:nth-of-type(1),
      &:nth-of-type(3) {
        display: none;
      }
      &:nth-of-type(2) {
        order: 1;
        & .header__info--bold {
          display: none;
        }
        padding-left: 0;
      }
      &:nth-of-type(4) {
        order: 0;
        & .header__info--normal {
          display: none;
        }
        padding-left: 0;
      }
      &::before {
        display: none;
      }
    }
  }
  .button {
    &--custom {
      & span {
        display: none;
      }
    }
  }
  #wishList {
    margin-right: 35px;
    svg {
      margin: 0;
    }
    &::after {
      content: '';
    }
  }

  #cart {
    padding: 0;
    svg {
      margin: 0;
    }
    &::after {
      content: '';
    }
  }
  .menu--mobile {
    display: block;
  }
}
