@import "~reset-css";
@import "_fonts";
@import "_variables";
@import "_custom";
@import "_animation";
@import "header";
@import "navigation";
@import "slider";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: normal;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  border: 1px solid $accentColor;
}

header, main, footer {
  margin: 0 auto;
}

header {
  margin: 0 auto;
  width: 100%;
  height: $headerHeight;
  color: $accentColor;
  background-color: $bgColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0;
}

main {
  width: 1540px;
  flex-grow: 1;
  padding-top: 22px;
}

footer {
  width: 1540px;
  flex-grow: 0;
}

section {
  width: 100%;
}

.body--mask {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 555;
  }
}

@media screen and (max-width: 1599px) {
  header {
    height: 100px;
  }
  main {
    width: 100%;
    padding-top: 0;
  }
  footer {
    width: 100%;
  }
}

