@import "variables";

.navigation {
  width: 1576px;
  margin: 0 auto;
  height: 100%;
  z-index: 777;
  & .header__contacts {
    display: none;
  }
}

.menu {
  &__list {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }
  &__item {
    height: 100%;
    position: relative;
    & .menu--sub {
      display: none;
      flex-direction: column;
      background-color: $activeMenuItem;
      position: absolute;
      padding-top: 27px;
      z-index: 555;
      width: 599px;
      padding-bottom: 101px;
    }
  }
  &__link {
    font-size: 12px;
    font-weight: normal;
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $accentColor;
    background-color: $borderColor;
    transition: color 0.3s linear;
    padding: 0 19px 0 26px;
    letter-spacing: 0.6px;
    &--active {
      color: $textLight;
      background-color: $activeMenuItem;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $activeColor;
      opacity: 0;
      transition: opacity 0.5s linear;
    }
    &::after {
      content: "";
      background: url("./assets/images/arrow-mini-down.svg") no-repeat center;
      width: 6px;
      height: 4px;
      margin-left: 8px;
      transform: rotate(0);
      transition: transform 0.3s linear;
    }
    &:hover {
      cursor: pointer;
      color: $textLight;
      &::before {
        opacity: 1;
      }
    }
  }
  &__item {
    &:last-of-type {
      & .menu__link {
        &::after {
          display: none;
        }
      }
    }
  }
}

.menu--sub {
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    background: url("./assets/images/sub-menu-bg.jpg") no-repeat 0 0;
    background-size: cover;
    width: 200px;
    height: 280px;
    position: absolute;
    z-index: 222;
    right: 40px;
    bottom: 0;
  }
  & .menu__link {
    padding: 10px 19px 10px 26px;
    //padding: 10px 19px 10px 43px;
    background-color: $activeMenuItem;
    position: relative;
    transform: translateX(0);
    transition: transform 0.5s linear;
    display: flex;
    align-items: center;
    &::before {
      display: none;
    }
    &::after {
      display: none;
      background: url("./assets/images/arrow-mini-down-active.svg") no-repeat center;
      position: absolute;
      left: 0;
      transform: rotate(-90deg);
      color: $activeColor;
    }
    &:hover {
      display: flex;
      transform: translateX(17px);
      &::after {
        display: block;
      }
    }
  }
}

.menu__item {
  &:hover {
    & .menu--show {
      display: flex;
    }
  }
}

.menu__item {
  .menu--show {
    display: flex;
  }
}

.menu__link--active {
  &::after {
    transform: rotate(-180deg);
  }
}

.nav {
  &__list {
    display: none;
  }
  &__link {
    font-weight: bold;
    font-size: 14px;
    color: $menuToggleColor;
  }
}

@media screen and (min-width: 1600px) {
  .menu__item {
    &:hover {
      & .menu--sub {
        display: flex;
      }
    }
  }
}

@keyframes mobileMenuShow {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1599px) {
  .navigation {
    display: none;
    width: 83.33%;
    position: absolute;
    top: 1px;
    left: 1px;
    padding-top: 10px;
    flex-direction: column;
    background-color: #151515;
    min-height: 100vh;
    height: initial;
    & .header__contacts {
      display: flex;
      flex-direction: column;
      padding: 15px 0;
    }
    & .header__info {
      display: flex;
      width: 100%;
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: #151515;
      &:nth-of-type(1) {
        &::after {
          content: "";
          margin-top: 20px;
          width: 100%;
          height: 1px;
          background-color: #222222;
        }
      }
      &:nth-of-type(2) {
        padding-bottom: 30px;
        & .header__info--bold {
          display: flex;
        }
      }
    }
    & .header__info--bold {
      font-size: 13px;
      color: $accentColor;
      padding-bottom: 5px;
      &::after {
        display: none;
      }
    }
    & .header__info--normal {
      text-transform: inherit;
      font-weight: 500;
      font-size: 13px;
      color: $textLight;
    }
    &--show {
      display: flex;
      animation: mobileMenuShow 0.5s linear;
    }
  }
  .menu {
    &__list {
      width: 100%;
      flex-direction: column;
      background-color: $bgColor;
      justify-content: flex-start;
    }
    &__item {
      padding: 0 30px;
      max-height: 45px;
    }
    &__link {
      padding: 16px 0;
      background-color: $bgColor;
      position: relative;
      transition: padding 0.3s linear;
      &::before {
        opacity: 1;
        background-color: $menuBorderColor;
        transition: background-color 0.3s linear;
      }
      &::after {
        position: absolute;
        right: 0;
        transform: rotate(-90deg);
      }
      &--active, &:hover {
        padding-left: 25px;
        &::before {
          background-color: $activeColor;
        }
        &::after {
          left: 0;
          transform: rotate(90deg);
        }
      }
    }
  }

  .menu__item {
    & .menu--sub {
      background-color: $bgColor;
      height: 100vh;
      width: calc(100% - 60px);
      z-index: 999;
      &::before {
        display: none;
      }
      & .menu__item {
        padding: 0;
      }
      & .menu__link {
        background-color: $bgColor;
        padding-left: 0;
      }
      &:hover {
        & .menu__item {
          width: 100%;
        }
        & .menu__link {
          width: 100%;
          &::after {
            display: none;
          }
        }
      }
    }
    &:hover {
      & .menu--sub {
        //display: none;
        width: calc(100% - 60px);
      }
    }
  }
  .nav {
    &__list {
      display: flex;
      flex-direction: column;
      padding-top: 35px;
    }
    &__item {
      padding: 10px 30px;
    }
  }
}