@import "variables";

.slider {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 502px;
  &__images {
    width: 100%;
    height: inherit;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__image {
    width: 100%;
    height: inherit;
    background-size: cover;
    background-color: #eeebe8;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }
  &__switches {
    position: absolute;
    display: flex;
    left: 50%;
    margin-left: -32px;
    bottom: 33px;
    z-index: 33;
  }
  &__switch {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid $accentColor;
    background-color: transparent;
    margin: 0 2.5px;

  }
}

$animationDelay: 60s;
$animationIteration: $animationDelay/4;


@keyframes sliderAutoPay0 {
  0% {
    opacity: 1;
    z-index: 22;
  }
  20% {
    opacity: 1;
    z-index: 22;
  }
  25% {
    opacity: 0;
    z-index: 10;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 22;
  }
}

@keyframes sliderAutoPay1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    z-index: 22;
  }
  45% {
    opacity: 1;
    z-index: 22;
  }
  50% {
    opacity: 0;
    z-index: 10;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sliderAutoPay2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    z-index: 22;
  }
  70% {
    opacity: 1;
    z-index: 22;
  }
  75% {
    opacity: 0;
    z-index: 10;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sliderAutoPay3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    z-index: 22;
  }
  95% {
    opacity: 1;
    z-index: 22;
  }
  100% {
    opacity: 0;
    z-index: 10;
  }
}

@keyframes sliderSwitchAutoPay0 {
  0% {
    background-color: $accentColor;
  }
  25% {
    background-color: transparent;
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: $accentColor;
  }
}

@keyframes sliderSwitchAutoPay1 {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: $accentColor;
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes sliderSwitchAutoPay2 {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: transparent;
  }
  50% {
    background-color: $accentColor;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes sliderSwitchAutoPay3 {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: transparent;
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: $accentColor;
  }
  100% {
    background-color: transparent;
  }
}

.slide0 {
  opacity: 1;
  background: url("./assets/images/slide0.jpg") no-repeat 0 0;
  animation: sliderAutoPay0 $animationDelay infinite ease-in;
  background-size: cover;
}

.slide1 {
  opacity: 1;
  background-color: #8c8c8d;
  animation-delay: $animationIteration;
  animation: sliderAutoPay1 $animationDelay infinite ease-in;
}

.slide2 {
  opacity: 1;
  background-color: #c6e5dd;
  animation-delay: $animationIteration*2;
  animation: sliderAutoPay2 $animationDelay infinite ease-in;
}

.slide3 {
  opacity: 1;
  background-color: #353535;
  animation-delay: $animationIteration*3;
  animation: sliderAutoPay3 $animationDelay infinite ease-in;
}

.slider__switches--toggle {
  & li[data-slide="0"] {
    animation: sliderSwitchAutoPay0 $animationDelay infinite;
  }

  & li[data-slide="1"] {
    animation-delay: $animationIteration;
    animation: sliderSwitchAutoPay1 $animationDelay infinite;
  }

  & li[data-slide="2"] {
    animation-delay: $animationIteration*2;
    animation: sliderSwitchAutoPay2 $animationDelay infinite;
  }

  & li[data-slide="3"] {
    animation-delay: $animationIteration*3;
    animation: sliderSwitchAutoPay3 $animationDelay infinite;
  }
}

.slider__head {
  width: 40%;
  font-size: 50px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  display: inline-block;
  flex-direction: column;
  color: $accentColor;
  z-index: 30;
  padding-left: 60px;
  & span {
    position: relative;
    padding: 0 2%;
    &:nth-of-type(1) {
      background-color: #e10e19;
      z-index: 88;
    }
    &:nth-of-type(2), &:nth-of-type(3) {
      background-color: #151515;
      z-index: 77;
    }
  }
}

@media screen and (max-width: 1599px) {
  .slider {
    height: 200px;
    &__images {
    }
    &__switches {
      left: 26px;
      margin-left: 0;
      bottom: 33px;
    }
    &__switch {
      width: 8px;
      height: 8px;
      margin: 0 4px;
    }
  }
  .slider__head {
    width: 72%;
    font-size: 24px;
    padding-left: 30px;
    & span {
      position: relative;
      padding: 0 2%;
    }
  }
}


