doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="nord west")
        meta(name="theme-color" content="#070707")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='nordwest'
        link(rel="icon" href="./simple-logo.png" type="image/x-icon")
    body
        header.header
            include ./includes/header
        main
            section
                include ./includes/slider
        footer footer

